:host {
  ngx-monaco-editor {
    height: 100% !important;
  }

  ::ng-deep {
    .decorationsOverviewRuler {
      display: none;
    }

    .margin,
    .monaco-editor-background {
      top: 0px !important;
    }
  }
}
